* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    background-color: #222529;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 10px;
}

.left {
    background-color: #292c31;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emptable{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.vip_column td{
    text-decoration: line-through;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input,
.input-container select,
.input-container button {
    background-color: #292c31;
    color: white;
    border-radius: 1rem;
    padding: 6px;
    border: 1px solid #444;
}

.right {
    overflow-x: auto;
}

.right table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.right table thead tr th,
.right table tbody tr td {
    border: 2px solid #3f454d;
    padding: 0.25rem;
    text-align: center;
}

.right table thead tr th {
    color: aliceblue;
    font-size: small;
}

.right table tbody tr td {
    color: #858d9a;
}

.fa-regular,
.fa-solid {
    color: #858d9a;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.vip{
    background-color: #3f454d;
    color: #858d9a;
    cursor: pointer;
    transition: 0.3s;

}

.fa-regular:hover,
.fa-solid:hover {
    transform: scale(1.2);
}

/* Media queries for responsiveness */
@media (min-width: 1200px){
    .root {
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 899px) {
    .root {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .input-container {
        width: 50%;
    }

    .right table,
    .right table th,
    .right table td {
        font-size: smaller;
    }
}
